/* styles.css */
.container {
    background-color: #f0f0f5;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

img {
    border-radius: 10px;
}

h4 {
    color: #ff0000;
}

h3 {
    color: #333;
}
